.pagination_numbers {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagination_numbers li {
  padding: 5px 10px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 0.3rem;
  cursor: pointer;
  border: 2px solid var(--main-color);
  transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-transform: capitalize;
}

.pagination_numbers li.active {
  background-color: transparent;
  color: var(--main-color);
  cursor: default;
}

.pagination_numbers li:not(.active):hover {
  background-color: var(--text-color);
  border-color: var(--text-color);
}

.pagination_numbers li.hide_btn {
  visibility: hidden;
}
