/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

:root {
  --text-color: #212245;
  --main-color: #df2020;
  --secondary-color: #fde4e4;
  --gray-color: #777;
  --white-color: #fcfcfc;
  --success-color: #62d346;
  --error-color: #ff4c4c;
}

/* reset default style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  width: 10px;
}

/* base style */

body {
  background: #fcfcfc;
  font-family: "Istok Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif !important;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
  color: inherit;
}

h1,
h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--text-color);
}

section {
  padding: 60px 0px;
}

.add-to-cart {
  all: unset;
  padding: 7px 20px;
  background-color: var(--main-color);
  color: #fff;
  outline: none !important;
}
.add-to-cart:hover {
  color: #fff;
}

.toast_success,
.toast_error {
  position: relative;
  border-radius: 0.3rem;
}

.toast_success::after,
.toast_error::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0rem;
  width: 0;
  height: 2px;
  animation: progress-in 4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toast_success {
  border-left: 2px solid var(--success-color);
}
.toast_success::after {
  background-color: var(--success-color);
}

.toast_error {
  border-left: 2px solid var(--error-color);
}
.toast_error::after {
  background-color: var(--error-color);
}

/* animations  */
@keyframes move-x {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }
}

@keyframes move-up-down {
  0% {
    top: -150%;
  }

  50% {
    top: 3px;
  }

  100% {
    top: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-in {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

/* animations  */
